$pokedex-color: #DB4343;
$grass-color: #69AB5E;
$blue-color: #59b6b6;
$dark-grey-color: #282828;
$black-color: #000;
$white-color: #fff;

$red-color: #ff0a0a;
$darker-red-color: #E80E0E;

$yellow-color: #fdd408;
$darker-yellow-color: #CCB229;

$green-color: #30d317;
$darker-green-color: #3C9E2C;