/*********************************JS ACTIVITY*******************************/
.found{
    opacity: 0.5;
}

.display-pokeball{
    display: block;
}

.show-restart-btn{
    display: block;
}

.start{
    display: block;
}
